{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <h1 class="text-4xl">Se connecter</h1>

    {% include 'login/_form.html.twig' with {form} only %}
{% endblock %}
