@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body {
    background-color: white;
    scroll-behavior: smooth;
}

.pagination {

}

.current {
    font-size: large;
    font-weight: bolder;
}

.active{
    display: flex;
    flex-direction: column;
}

.active::after{
    content: '';
    height: 2px;
    width: 100%;
    background: #fff;
}
